@import "../../../../sass/essentials";

.processComponent.whiteBg{
    padding-bottom: 178px;
    position: relative;

    .processSection{
        position: sticky;
        top: 0;
    
        .processHeaderDiv{
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
    
            h1{
                color: $black;
                font-size: 18px;
                font-weight: 400;
                line-height: 28.08px;
                text-align: right;
                span{
                    color: $color__primary;
                }
            }
        }
    
        .processContent{
            padding-top: 170px;
            padding-bottom: 100px;
    
            .processHeaderContent{
                color: $black;
                font-size: 40px;
                line-height: 56.2px;
                font-weight: 300;
                max-width: 881px;
            }
    
            .divider{
                height: 1px;
                background: $black;
                max-width: 100%;
            }
    
        }
    
    }
    .philosophie{
      position: relative;

      .indicators {
        left: 2rem;
        top: 0;
        margin: 10vh 0;
        height: 80vh;
        width: 3px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;

        .indicator {
          width: 100%;
          background-color: #fff;
          flex-grow: 1;
          margin: 2px 0;
        }

      }

      .point {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 4rem;

        .contentScrolling{
          flex-basis: 70%;
          margin-right: auto;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;

          p{
            font-size: 40px;
            line-height: 56.2px;
            font-weight: 300;
            max-width: 665px;

            color: $black;
          }
        }

        .numberScrolling {
          flex-basis: 30%;
          max-width: 30vw;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          span{
            font-weight: 300;
            font-size: 100px;
            line-height: 140.5px;
            letter-spacing: -0.01em;
            color: #686868;
            opacity: 0.3;
          }

          .whiteColor{
            color: $black;
            opacity: 1;
            // padding-right: 50px;
          }
        }
      }

      .wrapper {
        height: 100vh;
        width: 100%;
      }
      
    }
}
