@import "../../../sass/essentials";

.whiteBg{
    border-top: 1px solid $black;
}

.partnersComponent{
    position: relative;
    padding-top: 77px;
    padding-bottom: 291px;

    .partnersHeader{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        h1{
            color: $black;
            font-size: 18px;
            font-weight: 400;
            line-height: 28.08px;
            text-align: right;
            span{
                color: $color__primary;
            }
        }
    }

    .partnersContent{
        padding-top: 173px;
        p{
            font-size: 40px;
            font-weight: 300;
            line-height: 56.2px;
            color: $black;
            font: $font__primary;
            padding-bottom: 39px;

            span{
                font-weight: 400;
            }
        }
    }

    .rowPartners{
        border-top: 1px solid $black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        padding-top: 7px;
        cursor: pointer;
        z-index: 2;
        text-decoration: none;

        .partnerName{
            text-align: left;
            font: $font__primary;
            font-weight: 300;
            font-size: 38px;
            line-height: 53px;
            color: $black;
        }

        .partnerField{
            text-align: right;
            font: $font__primary;
            font-weight: 400;
            font-size: 20px;
            line-height: 31px;
            color: $black;
        }


        &:hover{
            position: relative;
            z-index: 2;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            .partnerName{
                z-index: 2;
                color: $white;
            }
            .partnerField{
                z-index: 2;
                color: $white;
            }
        }

    }

    .hoverImage{
        visibility: hidden;
        // position: absolute;
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        // pointer-events: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
        height: 70vh;

        img{
            max-width: 100% !important;
            max-height: 100% !important;
            width: auto !important;
            height: auto !important;
            margin-bottom: 0;
            // transition: all .25s ease;
            border-radius: 50px;
        }
    }
    

    .rowPartners:hover + .hoverImage {
        visibility: visible;
        pointer-events: none;
        transition: all .25s ease;

        + .bgHover{
            width: 100vw;
            position: absolute;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            background: #61CCCA;
            /* height: 100vh; */
            top: 0;
            bottom: 0;
        }
    }
}